  <ion-view  >
 
  <ion-header-bar class="bar-positive"  >
            <button ng-click="toggleLeftSideMenu()" class="button button-icon icon ion-navicon"></button>
 
  
        <h1 class="title">CATEGORIES</h1>
         
          
      </ion-header-bar>
       
      <ion-content   style="background-color:rgba(239, 239, 245,0.3)" > 
          
   
          
  <ion-slide-box paper-click = "navSlide(index)">
  <ion-slide>
  
  <div class="color-white" > 
  
  <div class="list card">

  <a href="car.html" class="item item-icon-left ">
    <i class="icon ion-model-s"></i>Motor
  </a>

  <a href="cloth.html" class="item item-icon-left ">
    <i class="icon ion-tshirt-outline"></i>
    Clothing/Beauty
  </a>

  <a href="edu.html" class="item item-icon-left">
    <i class="icon ion-university"></i>
    Education
  </a>

  <a href="enter.html" class="item item-icon-left">
    <i class="icon ion-ios-musical-notes"></i>
    Entertainment
  </a>
  
  <a href="fees.html" class="item item-icon-left">
    <i class="icon ion-social-usd"></i>
    Fees
  </a>
  
  <a href="food.html" class="item item-icon-left">
    <i class="icon ion-pizza"></i>
    Food
  </a>
  
  <a href="inv.html" class="item item-icon-left">
    <i class="icon ion-arrow-graph-up-left"></i>
    Investment
  </a>
  
  <a href="liv.html" class="item item-icon-left">
    <i class="icon ion-ios-home-outline"></i>
    Living
  </a>
  
  <a href="med.html" class="item item-icon-left">
    <i class="icon ion-medkit"></i>
    Medical
  </a>
  
  <a href="oth.html" class="item item-icon-left">
    <i class="icon ion-social-dropbox"></i>
    Others
  </a>
  
  <a href="per.html" class="item item-icon-left">
    <i class="icon ion-ios-monitor-outline"></i>
    Personal 3C
  </a>
  
  <a href="pub.html" class="item item-icon-left">
    <i class="icon ion-ios-book"></i>
    Publications
  </a>
  
  <a href="social.html" class="item item-icon-left">
    <i class="icon ion-android-contacts"></i>
    Social
  </a>
  
  <a href="trans.html" class="item item-icon-left">
    <i class="icon ion-android-train"></i>
    Transportation
  </a>

  </div>

</div>

 <ion-tabs class="tabs-royal tabs-icon-only">
  <ion-tab title="Expense">
  </ion-tab>
  </ion-tabs>
  
  </ion-slide>
  
  
  <ion-slide>
  <div class="color-white">
  
  <div class="list card">

  <a href="income.html" class="item item-icon-left ">
    <i class="icon ion-social-yen"></i>
    Income
  </a>

  <a href="inve.html" class="item item-icon-left ">
    <i class="icon ion-connection-bars"></i>
    Investment
  </a>
  
  </div>
  </div>
  
  <ion-tabs class="tabs-royal tabs-icon-only">
  <ion-tab title="Income">
  </ion-tab>
  </ion-tabs>
  
  </ion-slide>
  
  <ion-slide>
  
   <div class="color-white">
  
  <div class="list card">

  <a href="tra.html" class="item item-icon-left ">
    <i class="icon ion-model-s"></i>
    Transfer
  </a>
  
  </div>
  
  </div>
  
  <ion-tabs class="tabs-royal tabs-icon-only">
  <ion-tab title="Transfer">
  </ion-tab>
  </ion-tabs>
  
  </ion-slide>
  </ion-slide-box>
 
  
      </ion-content>
</ion-view>
    

 