

<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    
    <ion-tab title="EXPENSES" ui-sref="sidemenu.category.expense">
        <ion-nav-view name="expense"></ion-nav-view>
    </ion-tab>
     <ion-tab title="INCOME" ui-sref="sidemenu.category.income">
        <ion-nav-view name="income"></ion-nav-view>
    </ion-tab>
   
</ion-tabs>
    
    
    
    
    
    <!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
 