<ion-modal-view >

<ion-header-bar class="bar-light" >
    
    <h1 class="title">Add Expense </h1>
 
   <button class="button  button-clear "
                ng-click="closeExpenseModal()"
                  ><i class="n-minus-circled" style="font-size:120%"></i></button>
    
    </ion-header-bar>


<ion-content style="background-color:rgba(239, 239, 245,1)" >
    
<br>
 <form ng-submit="saveExpense(expense)" novalidate="novalidate" name="expense"   >
<label class="item item-input validated" ng-class="'has-errors'">
        <span class="input-label item-positive " style="padding:5%">Amount </span>
        <input type="text" ng-pattern="/^[+]?\d+(\.\d+)?$/"  placeholder="Rs." name="e_amount" ng-model = 'expense.amount' required>
        <i class="icon ion-alert-circled error col col-10"></i>
        </label>



  
 <label class="item item-input item-select ">
            <div class="input-label">Category</div>
            <select ng-model="expense.cat" >
            <option ng-selected="true"> Food</option>
            <option>Clothes</option>
            <option>Telephone</option>
            <option>Electricity</option>
            </select>
</label>
 
       
         <button class="button  button-block" ng-click="openDatePicker()" type="button" ng-class="validDate ?'button-positive':'button-assertive'" style="marign:0cm"> Date :   {{expenseDate}}  </button>
         
    
 <div class="item item-divider item-positive ">Expenses Done In</div>

 <ion-list ng-init="expense.choice = 'cash'">
  <ion-radio ng-model="expense.choice" ng-checked="true" ng-value="'cash'">Cash</ion-radio>
  <ion-radio ng-model="expense.choice" ng-value="'credit'">Credit Card</ion-radio>
  <ion-radio ng-model="expense.choice" ng-value="'savings'">Savings</ion-radio>
</ion-list>
        <br>

           <div class="item item-divider  item-positive  ">Add Notes</div>
<label class="item item-input" >
        
         <textarea placeholder="Notes"  rows="3" ng-model= "expense.note" ></textarea>
</label>
 
<br>
<div class="button-bar padding" >
 <button class="button    button-balanced" name="e_save"   type="submit">
 SAVE
</button>
 <button class="button   button-dark" name="e_cancel" ng-click="reset()" type="reset">
  CANCEL
</button>
 
</div>
    </form>
    

   
    </ion-content>



</ion-modal-view>