<ion-modal-view>

<ion-header-bar>
    
    <h1 class="title"> Add Expense </h1>
    
     <button class="button button-icon ion-minus-circled"
                  ng-click="closeExpenseModal()"
                  ></button>
    
    </ion-header-bar>


<ion-content>
    

 <form ng-submit="saveExpense(expense)" novalidate="novalidate" name="expenseForm"   >
<label class="item item-input validated" ng-class="'has-errors'">
        <span class="input-label">Amount</span>
        <input type="number" placeholder="Rs." name="e_amount" ng-model = 'expense.amount' required>
        <i class="icon ion-alert-circled error col col-10"></i>
        </label>
<label class="item item-input validated" ng-class="'has-errors'">
        <span class="input-label">Date</span>
        <input type="date" name="e_date"  ng-model ="expense.date" required>

         <i class="icon ion-alert-circled error col col-10"></i>
        </label>


  
 <label class="item item-input item-select">
            <div class="input-label">Category</div>
            <select ng-model="expense.cat" required="true">
            <option ng-selected="true"> Food</option>
            <option>Clothes</option>
            <option>Telephone</option>
            <option>Electricity</option>
            </select>
</label>


 <div class="item item-divider item-balanced">Expense done in</div>

 <ion-list ng-init="expense.choice = 'cash'">
  <ion-radio ng-model="expense.choice" ng-checked="true" ng-value="'cash'">Cash</ion-radio>
  <ion-radio ng-model="expense.choice" ng-value="'credit'">Credit Card</ion-radio>
  <ion-radio ng-model="expense.choice" ng-value="'savings'">Savings</ion-radio>
</ion-list>
        

           <div class="item item-divider item-dark">Add Notes</div>
<label class="item item-input" >
        
         <textarea placeholder="Notes"  rows="3" ng-model= "expense.note" required></textarea>
</label>
 

<div class="button-bar">
 <button class="button    button-positive" name="e_save"   type="submit">
  Save
</button>
 <button class="button   button-dark" name="e_cancel" type="button">
  Cancel
</button>
 
</div>
    </form>
    

   
    </ion-content>



</ion-modal-view>