<ion-header-bar class="bar-positive">
        <button ng-click="toggleLeftSideMenu()" class="button button-icon icon ion-navicon"></button>

        <h1 class="title">INCOME</h1>
        <!--<button class="button button-icon ion-minus-circled"
ng-click="data.showDelete = !data.showDetete"
></button> -->

        <button class="button  button-clear "
                ng-click="addIncomeModal()"
                ><i class="ion-plus-circled" style="font-size:120%"></i></button>

</ion-header-bar>

<ion-content   style="background-color:rgba(239, 239, 245,0.3)" > 



        <div class=" item-input-inset   bar-light">
                <label class="item-input-wrapper">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="search" ng-model="query" placeholder="Search">


                </label>


        </div>              




        <ion-list  >





                <ion-item  ng-repeat=' x in expList | filter : query  ' class="" >

                        <div class="row">
                                <div class="col-80">

                                        <h4><font color="#4a87ee"> {{x.e_category | uppercase}} </font>&nbsp;<font color="gray">  {{x.date}} </font></h4>

                                        <h2> <font color="#444"> {{x.amount | currency:"Rs."}}  </font><font color="gray" size="2%">- {{x.account | uppercase}} </font> </h2>


                                        <font color="gray">{{x.note | limitTo: 100}}</font> 
                                </div>
                                <div class="col-20">
                                        <button ng-click="incomeDel(x.id)" class="button button-block button-outline button-small button-assertive "> Delete</button>
                                </div>
                        </div>
                </ion-item>

        </ion-list> 





</ion-content>






