  <ion-header-bar class="bar-positive">
            <button ng-click="toggleLeftSideMenu()" class="button button-icon icon ion-navicon"></button>
  
        <h1 class="title">BUDGET</h1>
          <!--<button class="button button-icon ion-minus-circled"
                  ng-click="data.showDelete = !data.showDetete"
                  ></button> -->
          
          <button class="button  button-clear "
                  ng-click=""
                  ><i class="ion-plus-circled" style="font-size:120%"></i></button>
          
      </ion-header-bar>
       
      <ion-content   style="background-color:rgba(239, 239, 245,0.3)" > 
          
      
          
           
                        
          
           
        
             
       
                 <h2><font color="blue"> TOTAL EXPENDITURE: <b>Rs.{{x}}</b></font></h2>
                  <h2><font color="blue"> TOTAL INCOME: <b>Rs.{{x.t_income}}</b></font></h2>
           <h2><font color="blue"> YOUR BUDGET: <b>Rs.{{x.t_budget}}</b></font></h2>
          
             
                 
                 
                 <p><font color="gray">{{x.note | limitTo: 100}}</font></p>
                 
                
           
             
                 
                 
                 
            
             
           
          
          
          
          </ion-list> 
          
       
          
          
          
      </ion-content>
          
          
 
        
        
         
    