

<h3>Add Expense</h3>
<label class="item item-input">
        <span class="input-label">Amount</span>
        <input type="text" placeholder="Rs." name="e_amount" required>
        </label>

 <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date" name="e_date" required>
        </label>


  
 <label class="item item-input item-select">
            <div class="input-label">Category</div>
            <select>
            <option>Food</option>
            <option>Clothes</option>
                <option>Telephone</option>
                <option>Electricity</option>
            </select>
</label>



 <div class="item item-divider item-balanced">Expense done in</div>

 <ion-list>
  <ion-radio ng-model="choice" ng-value="'cash'">Cash</ion-radio>
  <ion-radio ng-model="choice" ng-value="'credit'">Credit Card</ion-radio>
  <ion-radio ng-model="choice" ng-value="'savings'">Savings</ion-radio>
</ion-list>
        

           <div class="item item-divider item-dark">Add Notes</div>
<label class="item item-input">
        
         <textarea placeholder="Notes" height="200" width="100"></textarea>
</label>

<button class="button button-clear button-positive" name="e_save" type="submit">
  Save
</button>
<button class="button button-clear button-positive" name="e_cancel" type="button">
  Cancel
</button>